<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
 <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="SystemHealthMonitorApp" />
    </StandardDirectory>
	 <Directory Id="CommonAppDataFolder">
		 <Directory Id="MPCorp" Name="MPCorp">
			 <Directory Id="SystemHealthMonitorApp" Name="SystemHealthMonitorApp" />
		 </Directory>
	 </Directory>
  </Fragment>
</Wix>
